{% extends "base_loggedin.html" %}

{% block title %}Visitor Form{% endblock %}

{% block inner_head %}
  <script src="/static/form.js" defer></script>
{% endblock %}

{% block html_title %}Visitor Management{% endblock %}
{% block inner_content %}
  <div class="container mt-5">
    <form onsubmit="submitForm(event)">
      <div class="mb-3">
        <label for="nric" class="form-label">NRIC</label>
        <input type="text" class="form-control" id="nric" name="nric" required placeholder="T0XXXXXXA" pattern="^\w\d{7}\w$">
      </div>
      <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullname" name="fullname" maxlength="66" placeholder="Name on student pass/NRIC" required pattern="[A-Za-z0-9\s]+">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" required placeholder="8XXXXXXX, no spaces" pattern="^\d{8}$">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br />
    <div class="form-floating">
      <textarea id="qr" class="form-control" onKeyUp="parseQR(this.value)" placeholder="QR Code"></textarea> 
      <p id="status"></p>
      <label for="floatingTextarea">Scan QR Code here</label>
    </div>
    <div id="status" class="alert alert-info mt-3" style="display:none;"></div>
  </div>
{% endblock %}
