<!DOCTYPE html>
<html>
<head>
  <title>Visitor Form</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  <script src="/static/form.js" defer></script>
  <script src="/static/logout.js" defer></script>
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Visitor Management</h1>
    <p id="operator_name" class="text-end" onclick="logout()"></p>
    <form onsubmit="submitForm(event)">
      <div class="mb-3">
        <label for="nric" class="form-label">NRIC</label>
        <input type="text" class="form-control" id="nric" name="nric" required placeholder="T0XXXXXXA" pattern="^\w\d{7}\w$">
      </div>
      <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullname" name="fullname" maxlength="66" placeholder="Name on student pass/NRIC" required pattern="[A-Za-z0-9\s]+">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" required placeholder="8XXXXXXX, no spaces" pattern="^\d{8}$">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br />
    <div class="form-floating">
      <textarea id="qr" class="form-control" onKeyUp="parseQR(this.value)" placeholder="QR Code"></textarea> 
      <p id="status"></p>
      <label for="floatingTextarea">Scan QR Code here</label>
    </div>
    <div id="status" class="alert alert-info mt-3" style="display:none;"></div>
  </div>
</body>
</html>
