{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<script>
function setWatermark(color) {
  // unused
}
</script>
{% endblock %}

{% block html_title %}VMS Login{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-4">
      <form method="POST" action="/login">
        <div class="mb-3 text-center">
          <label for="operator" class="form-label">Operator Name</label>
          <input type="text" class="form-control" id="operator" name="operator" maxlength="66" placeholder="Your name" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
{% endblock %}