{% extends "base_loggedin.html" %}

{% block title %}Visitor Search{% endblock %}

{% block inner_head %}
  <script src="/static/search.js" defer></script>
{% endblock %}

{% block inner_content %}
  <h1 class="text-center">Visitor Records</h1>
  <p id="operator_name" class="text-end" onclick="logout()"></p>
  <div class="container mt-5">
    <h3>Search Records</h3>
      <form id="search-form" class="row g-2 mb-3">
        <div class="col-md-2">
          <input type="text" class="form-control" name="nric" placeholder="NRIC">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="fullname" placeholder="Full Name">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="phone" placeholder="Phone">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" name="time" placeholder="Datetime (YYYY-MM-DD)">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="opfilter" placeholder="Operator">
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
      </form>

      <table class="table table-striped table-hover" id="visitorTable">
        <thead class="table-dark">
          <tr>
            <th scope="col" onclick="sortTable(0)">NRIC</th>
            <th scope="col" onclick="sortTable(1)">Full Name</th>
            <th scope="col" onclick="sortTable(2)">Phone</th>
            <th scope="col" onclick="sortTable(3)">Datetime</th>
            <th scope="col" onclick="sortTable(4)">Operator</th>
          </tr>
        </thead>
        <tbody id="results-table-body">
          <!-- Rows inserted here -->
        </tbody>
      </table>

      <nav>
        <ul class="pagination justify-content-center" id="pagination">
          <!-- Pagination buttons -->
        </ul>
      </nav>
    </div>
  <div id="watermark-overlay"></div>
{% endblock %}
